
body{
    padding:0px;
    margin :0px;
    background:url(../cover/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
a{
	text-decoration: none;
}
#logo_img {
    max-height: 90px;
    float: left; 
}
 #logo_text {
    font: normal normal normal 32px/1em 'Century Gothic', sans-serif;
    margin-top: 30px;
    float: right;
    color: #e35354;
}
#logo_text span {
    color: #9fb038;
}
.namelogo{
    float: left;
}
.head {
    height: 150px;
    border-block-end: 1px dotted red;
    background: #fffafa;
    border-block-start: 1px dotted white;
    position: fixed;
    width: 100%;
    padding-top: 9px;
    margin-top: -9px;
}

.navbar {
    font: normal normal normal 36px/1em 'Century Gothic', sans-serif;
    position: relative;
    float: right;
    width:80.667%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
    display: inline-block;
    padding-top: 5px;
}
.navbar ul{
    margin:0px;
    padding:0px;
    list-style: none;

}
.navbar ul li{
    float: left;
    width: 164px;
    height: 40px;
    background: black;
    color:white;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-left: 2px;
    border-radius: 3px;
}
.navbar ul li a{
    text-decoration: none;
    background: #f7e7cf;
    color: #000;
    display: block;
    font:10px;


}
.navbar ul li a:hover{
    background: #c83233;
    color: #fff;
    font-size: 10px;
}
.navbar ul li a:focus {
    padding-top: 35px;
    padding-bottom: 35px;
    font: normal normal normal 18px/1px 'Century Gothic', sans-serif;
    color: #000;
    background: repeat-x url("cover/images/banner_bg.jpg") 0 -94px ;
    transition-duration: 1s;
}


.navbar ul li ul li{
    display:none;
    margin-top: 1px;

}
.navbar ul li:hover ul li{
    display: block;
}

#active {
    background: #c83233;
    color: #fff;
}

.homepage {
border: 1px dotted #f009;
margin-top: 4%;
margin-right: 10%;
margin-left: 15%;
padding-left: 4%;
padding-top: 2%;
padding-bottom: 2%;
font-size: 20px;
background: #f9ebd899;
box-shadow: 2px 2px 8px 0px rgba(0,0,0,.11);
}
.homepage a{
    text-decoration: none;
    color: blue;
}
.homepage a:hover{
    text-decoration: underline;
    color: red;
}
